<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
<h1>Hello World!</h1>
<h3>Springboot boilerplate by Steven</h3>
<h3 th:text="${greeting}"></h3>
<a href="/event/">Another page</a>
</body>
</html>